# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# OS X stuff
.DS_Store

build
bin

Problem Sets/Problem Set 3/Debug/
*.pdb
*.sdf
*.opensdf
Problem Sets/Problem Set 3/HW3_differenceImage.png
Problem Sets/Problem Set 3/HW3_output.png
Problem Sets/Problem Set 3/HW3_reference.png
Problem Sets/Problem Set 3/Problem Set 3.v12.suo
*.user
Problem Sets/Problem Set 4/Debug/
Problem Sets/Problem Set 4/Problem Set 4.v12.suo
Problem Sets/Problem Set 4/HW4_output.png
Problem Sets/Problem Set 4/Release/
Problem Sets/Problem Set 5/Debug/
Problem Sets/Problem Set 5/Release/
